doctype html
html
  head
    title Connect - High quality middleware for node.js
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    link(rel='stylesheet', href='style.css')
    script(src='jquery.js')
    script(src='docs.js')
  body
    #content
      h1 Connect
      p High quality middleware for node.js
      <a href="http://github.com/senchalabs/connect"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
      for comment in comments
        unless ignore(comment)
          .comment(id=id(comment))
            h2= title(comment)
            .description!= comment.description.full

            if comment.tags.length
              ul.tags
                for tag in comment.tags
                  if tag.types
                    if 'param' == tag.type
                      li <em>#{tag.types.join(' | ')}</em> #{tag.name} #{tag.description}
                    else
                      li returns <em>#{tag.types.join(' | ')}</em> #{tag.description}
                  else if tag.name
                    li #{tag.name} #{tag.description}

            if comment.code
              h3 Source
              pre
                code!= comment.code

    ul#menu
      for comment in comments
        unless ignore(comment)
          li
            a(href='#' + id(comment))= title(comment)
